.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sizeSm {
  max-width: 40rem;
}

.sizeMd {
  max-width: 48rem;
}

.sizeLg {
  max-width: 72rem;
}

.sizeFull {
  max-width: none;
}

@media (min-width: 768px) {
  .container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
